<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @holiday.details %>
</p>

<p>
  <strong>Date:</strong>
  <%= @holiday.date %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @holiday.profile %>
</p>

<%= link_to 'Edit', edit_holiday_path(@holiday) %> |
<%= link_to 'Back', holidays_path %>
